<input class="time-tracker" type="range" min="0" [max]="duration" step="1" (change)="positionChange()" [(ngModel)]="currentTime"/>
<p class="time" *ngIf="player && durationSeconds() !== '00:00'">{{currentTimeSeconds()}} / {{durationSeconds()}}</p>

<div class="controls">
  <button (click)="play()" *ngIf="!playing">play</button>
  <button (click)="pause()" *ngIf="playing">pause</button>
  <button (click)="prev()">prev</button>
  <button (click)="next()">next</button>
</div>

<input type="range" min="0" max="1" step="0.02" (change)="volumeChange()" [(ngModel)]="volume"/>{{volume * 100}}%

<p *ngIf="sleep">Sleep in: {{parseSeconds(sleep)}}</p>
<button (click)="sleepTimer()">sleep</button>

<audio id="player" #player [attr.src]="src"></audio>
