{
  "name": "Test Server",
  "post_up_message": "Welcome to Test Server",
  "gui": false,
  "memory": "4096",
  "swap_memory": "8G",
  "box": "debian/bullseye64",
  "box_url": "https://app.vagrantup.com/debian/boxes/bullseye64",
  "box_check_update": true,
  "ssl": "true",
  "ip": "192.168.1.001",
  "gui": false,
  "url": "local.testserver.com",
  "server": {
    "admin": "ariksavage@gmail.com",
    "mail": {
      "type": "gmail",
      "sender": "moxyserver@gmail.com",
      "password": "************"
    }
  },
  "mysql": {
    "host": "localhost",
    "root_pw": "****************",
    "database": "thyme_db",
    "user": {
      "username": "db_admin",
      "password": "****************"
    }
  },
  "web_root": "/var/www/html/web",
  "synced_folders": [
    {
      "host": "../server",
      "guest": "/var/www/html",
      "type": "nfs"
    },
    {
      "host": "../db",
      "guest": "/home/vagrant/db",
      "type": "nfs"
    },
    {
      "host": "../config",
      "guest": "/home/vagrant/config",
      "type": "nfs"
    }
  ],
  "forwarded_ports": [
    {
      "guest": 35729,
      "host": 35729,
      "protocol": "tcp",
      "auto_correct": true
    },
    {
      "guest": 8983,
      "host": 8983,
      "protocol": "tcp",
      "auto_correct": true
    },
    {
      "guest": 3306,
      "host": 3306,
      "protocol": "tcp",
      "auto_correct": true
    }
  ]
}
