/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}
::-moz-scrollbar,
::-webkit-scrollbar,
::-o-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
